@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg: #1A212E;
  --theme-card: #263141;
  --theme-accent: #FF7F00;
  --theme-accent-green: #34C759;
  --theme-accent-blue: #007AFF;
}

body {
  background-color: var(--theme-bg);
  color: #fff;
}
